<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# this loads Sprockets/Rails asset pipeline %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# this loads JS from importmaps %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/partials/navbar' %>

    <%= yield %>
  </body>
</html>
